* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #626be6;
}

main {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto 50%;
    border: 5px;
    gap: 20px;
    padding: 5px;
}

p {
    font-weight: 700;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 20px;
}

.form-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}
i {
    position: absolute;
    right: 10px;
    font-size: 20px !important;
    color: blueviolet;
}

i:hover {
    cursor: pointer;
}

input, select {
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid blueviolet;
}

select {
    -webkit-appearance: none;
}

button {
    padding: 7px;
    border: none;
    background-color: #3b3939;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 500px) {
    main{
        width: 100%;
        grid-template-columns: auto;
        border: 0;
    }
    .form-wrapper{
        flex-direction: column;
    }
    h1{
        font-size: 40px;
    }
}

/* Page 2 */

h1 {
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    color: #fff;
}


